.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: 1px solid #D1D1D1;
border-radius: 100px;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  width: 250px;
  height: 50px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
span.current {
  font-family: var(--font-lexend);
font-weight: 300;
font-size: 15px;
line-height: 32px;
color: #535961;
}
.nice-select:hover {
  border-color: #dbdbdb;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #dbdbdb;
}

.nice-select:after {
  border-bottom: 1px solid   #535961;
  border-right: 1px solid   #535961;
  content: '';
  display: block;
  height: 10px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 10px;
}
.nice-select:focus::after{
  border-bottom: 2px solid  #56AB2F ;
  border-right: 2px solid  #56AB2F ;
}
.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nice-select.open .list {
  width: 100%;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
  margin: 0;
  padding: 0;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  list-style: none;
  min-height: 40px;
  outline: none;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #FFFFFF;
border-radius: 5px;
padding: 8px 15px;
font-family: var(--font-lexend);
font-weight: 300;
font-size: 15px;
}
.nice-select .list :last-child{
  margin-bottom: 0;
}

.nice-select .option:hover{
  background: var(--gradient-color);
  color: #fff;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}